body {
    background-color: #82CAFA;
    text-align: center;
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.info-instruction {
    width: 30%;
    padding: 20px 30px;
    align-self: center;
    text-align: left;
}

#howto {
    background-color: #D1D0CE;
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid black;
}

#rules {
    background-color: #D1D0CE;
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid black;
}

#gameCanvas {
    margin:auto;
    width: 505px !important;
    width: 606px !important:
}

.info-score {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 5px 20px;
    color: #E56717;
    text-align: center;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.scores {
    margin: 20px;
}

#high-score {
    width: 85%;
    margin:auto;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th {
    padding: 5px;
    background-color: #AF7817;
    color: white;
}

tr {
    background-color: #FBB917;
}

#player-name {
    padding: 3px;
    font-size: 15px;
    text-align: center;
    border-radius: 7px;
}

@media (max-width: 980px) {
    body {
        flex-direction: column;
    }

    .info-instruction {
        width: 85%;
    }

    #high-score {
        width: 50%;
        margin:auto;
    }
}
